	<style type="text/css"> 
	#mainContent {
		border: 1px solid gainsboro;
		min-height: 700px;
	}
	#res_content {
		border: 1px solid gainsboro;
		min-height: 100px;
	}
	.myclass1 {
		/*position: relative;
				left: 80px;
				top: 50px;
				min-height: 100px;*/
		
		border: 1px solid #111;
	}
	.mymainhei {
		min-height: 100px;
	}
	</style>